@charset "UTF-8";
.fundo-header-home {
  height: 100%;
  background: rgb(8, 23, 44);
  background: linear-gradient(90deg, rgb(8, 23, 44) 0%, rgb(29, 100, 142) 61%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  height: calc(100vh - 100px);
  position: relative;
  background-image: url("../src/img/fundo-menina-test.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.nuvem {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -3px;
  z-index: 1;
}

.bt-home {
  display: none;
}

.titulo-home {
  color: #fff;
  font-size: 5em;
  font-family: "Josefin Sans", sans-serif;
}

.subtitulo-idade {
  color: #E6AF2E;
}

.subtitulo-home {
  color: #2ECC71;
  font-size: 1.3em;
}

.conteudo-home {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Telas*/
/*Tablet*/
@media (max-width: 768px) {
  .conteudo-home {
    text-align: center;
  }
  .conteudo-home > * {
    margin-bottom: 20px;
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .bt-home {
    display: inline;
  }
  .bt-header {
    display: none;
  }
  header {
    justify-content: center;
  }
  .conteudo-home {
    text-align: center;
  }
  .conteudo-home > * {
    margin-bottom: 20px;
  }
  .titulo-home {
    font-size: 3em;
  }
  .subtitulo-idade {
    margin-bottom: 50px;
  }
  .bt-home {
    margin: 0 auto;
  }
  .home {
    background-size: 100%;
    background-position: 50% 35%;
    background-position-x: -200px;
  }
}
/*Ajuste do fundo da menina em alturas diferentes de mobile*/
/* Para telas com altura menor que 1000px */
@media (max-height: 1000px) {
  .home {
    height: calc(80vh - 100px); /* Ajuste de altura */
  }
}
/* Para telas com altura menor que 800px */
@media (max-height: 900px) {
  .home {
    height: calc(85vh - 100px); /* Ajuste de altura */
  }
}
/* Para telas com altura menor que 600px */
@media (max-height: 800px) {
  .home {
    height: calc(97vh - 100px); /* Ajuste de altura */
  }
}
.beneficios {
  height: 100%;
}

.titulo-beneficios {
  padding-top: 50px;
  font-size: 1.5em;
  text-align: left;
}

.grid-beneficios {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo-beneficios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.beneficio {
  padding: 20px;
  border-radius: 20px;
  transition: box-shadow 0.5s ease-in-out;
}

.beneficio:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.p-beneficios {
  color: rgb(38, 38, 38);
  text-align: justify;
  padding-top: 20px;
}

/*Telas*/
/*Tablet*/
@media (max-width: 768px) {
  .grid-beneficios {
    grid-template-columns: 1fr;
  }
  .imagem-beneficios,
  .titulo-beneficios {
    text-align: center;
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .imagem-beneficios img {
    width: 300px;
  }
  .conteudo-beneficios {
    grid-template-columns: 1fr;
  }
}
.conteudos {
  height: 85vh;
}

.titulo-conteudos {
  text-align: center;
  font-size: 1.5em;
  margin: 100px 0;
}

.carousel-conteudos {
  display: flex;
  gap: 50px;
  animation: scroll 40s linear infinite;
  width: 3500px;
  will-change: transform;
}

.carousel-card {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-titulo-card {
  margin-top: 20px;
  color: #009EFF;
  text-align: center;
}

.carousel-descricao-card {
  font-weight: bold;
  color: #494a4b;
  text-align: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  pointer-events: none;
}

.carousel-container::before {
  z-index: 999;
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*Mobile*/
@media (max-width: 600px) {
  .titulo-conteudos {
    margin: 50px 0;
  }
}
.depoimentos {
  background: rgb(145, 2, 208);
  background: linear-gradient(90deg, rgb(145, 2, 208) 0%, rgb(113, 1, 172) 51%, rgb(78, 1, 133) 100%);
  position: relative;
  display: flex;
}

.nuvem-final {
  transform: rotate(180deg);
  width: 100%;
  height: auto;
  position: absolute;
  top: -2px;
}

.nuvem-inicio-depoimento {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: auto;
}

.conteudo-depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 36vh;
  max-width: 1000px;
  margin: auto;
  padding: 0 50px;
}

.img-depoimento {
  position: relative;
}

.img-depoimento img {
  position: absolute;
  bottom: 0;
}

.titulo-botoes-depoimento,
.depoimentos-alunos {
  display: flex;
  align-items: center;
  z-index: 999;
}

.titulo-botoes-depoimento {
  flex-direction: column;
  justify-content: center;
}

.titulo-botoes-depoimento h3 {
  color: white;
  font-size: 2em;
}

#bt-proximo-depo,
#bt-anterior-depo {
  margin: 40px 5px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#bt-proximo-depo {
  background-color: #FE7EB1;
  color: white;
  border-radius: 40% 50%/40% 50%;
}

#bt-anterior-depo {
  background-color: #FE7EB1;
  color: white;
  padding-left: 10px;
  border-radius: 40% 50%/40% 50%;
}

#bt-anterior-depo:hover, #bt-proximo-depo:hover {
  background-color: #2ECC71;
}

.depoimentos-alunos {
  flex-direction: column;
  justify-content: center;
}

.depo {
  color: rgb(212, 212, 212);
  text-align: justify;
}

.nome-aluno {
  width: 100%;
  text-align: right;
  color: #2ECC71;
  margin-top: 20px;
}

/*Mobile*/
@media (max-width: 600px) {
  .conteudo-depoimento {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .depoimentos-alunos {
    padding-top: 0;
  }
  .conteudo-depoimento {
    padding: 50px;
  }
  .img-depoimento {
    display: none;
  }
}
.projetos {
  height: 100vh;
  margin-bottom: 50px;
  position: relative;
}

.projetos h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 50px;
}

.video-content {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

video {
  width: 100%;
}

.aula-experimental {
  height: 100vh;
  position: relative;
}

.aula-experimental h5 {
  text-align: center;
  margin-bottom: 20px;
}

.aula-experimental h3 {
  padding: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

.aula-experimental h5 {
  padding-left: 15px;
}

.container-experimental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.conteudos-experimental {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.conteudos-experimental div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.bt-agendar-experimental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(109, 163, 103, 0.4078431373) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px;
}

.bt-agendar-experimental p {
  font-weight: bold;
  text-align: center;
  color: rgb(40, 40, 40);
}

.bt-agendar {
  text-decoration: none;
  color: white;
  background-color: #422774;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 20px 0;
  transform: rotate(4deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bt-agendar:hover {
  background-color: #380f86;
}

.bt-agendar:active {
  transform: rotate(0);
}

/* Animação para o foguete */
.aula-experimental .foguete {
  position: fixed;
  top: 0px; /* Começa fora da tela na parte superior */
  right: 0; /* Alinhado à direita */
  width: 50px;
  transition: transform 0.1s ease-out;
  z-index: 1000;
  transform-origin: center; /* Define o ponto de rotação no centro */
}

/*Mobile*/
@media (max-width: 600px) {
  .aula-experimental {
    height: 100%;
  }
  .container-experimental {
    grid-template-columns: 1fr;
  }
  .conteudos-experimental {
    grid-template-columns: 1fr;
  }
  .bt-agendar-experimental {
    padding: 20px;
    margin-bottom: 30px;
  }
}
.professora {
  height: 100vh;
  margin-bottom: 50px;
}

.professora h3 {
  padding: 70px 0 0 0;
  font-size: 1.5em;
  text-align: center;
}

.container-professora {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo-prof {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.conteudo-prof p {
  text-align: right;
}

/*Mobile*/
@media (max-width: 600px) {
  .container-professora {
    grid-template-columns: 1fr;
  }
  .foto-prof img {
    width: 100%;
  }
  .conteudo-prof p {
    text-align: center;
  }
  .professora {
    height: 100%;
  }
}
footer {
  height: 450px;
  background-color: #39385A;
  position: relative;
  display: flex;
}

.max-container-footer {
  width: 100%;
}

.nuvem-footer {
  position: absolute;
  top: -10px;
  transform: rotate(180deg);
  width: 100%;
  height: auto;
}

.conteudo-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  height: 200px;
}

.logo-footer {
  height: 78px;
}

ul {
  list-style-type: none;
}

.links li {
  display: inline;
  padding-right: 20px;
  font-size: 1.5em;
  color: rgb(205, 205, 205);
}

.fa-instagram {
  transition: color 0.3s ease-in-out;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-whatsapp {
  transition: color 0.3s ease-in-out;
}

.fa-whatsapp:hover {
  color: #26C943;
}

.fa-envelope {
  transition: color 0.3s ease-in-out;
}

.fa-envelope:hover {
  color: #0F6CBD;
}

.conteudo-footer p {
  font-size: 11px;
  color: #a6a6a6;
}

.fa-heart {
  color: #36D7D5;
}

nav ul li {
  font-size: 16px;
  display: inline;
  padding-right: 10px;
}

a {
  color: rgb(205, 205, 205);
  text-decoration: none;
}

nav ul li a:hover {
  color: #E6AF2E;
}

.email-footer {
  font-size: 12px;
}

.email-footer:hover {
  color: #E6AF2E;
}

/*Tablet*/
@media (max-width: 768px) {
  .conteudo-footer {
    flex-wrap: wrap;
  }
}
/*Mobile*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para navegadores que suportam o estilo de rolagem personalizado */
body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/*Padrão*/
.max-container-center {
  max-width: 1160px;
  padding: 0 40px;
  margin: auto;
}

/*Botão padrão*/
.cta-aula-experimental {
  z-index: 20;
  width: 200px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-family: cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #5cdb95;
  color: black;
}

.cta-aula-experimental span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
  color: black;
}

.cta-aula-experimental:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

/*Telas*/
/*Tablet*/
@media (max-width: 768px) {
  .menina {
    width: 120%;
    right: 45px;
  }
  .conteudo-home {
    text-align: center;
  }
  .conteudo-home > * {
    margin-bottom: 20px;
  }
  .grid-beneficios {
    grid-template-columns: 1fr;
  }
  .imagem-beneficios,
  .titulo-beneficios {
    text-align: center;
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .bt-home {
    display: inline;
  }
  .bt-header {
    display: none;
  }
  header {
    justify-content: center;
  }
  .conteudo-home {
    text-align: center;
  }
  .conteudo-home > * {
    margin-bottom: 20px;
  }
  .titulo-home {
    font-size: 3em;
  }
  .subtitulo-idade {
    margin-bottom: 50px;
  }
  .bt-home {
    margin: 0 auto;
  }
  .imagem-beneficios img {
    width: 300px;
  }
  .conteudo-beneficios {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
