.professora{
    height: 100vh;
    margin-bottom: 50px;
}
.professora h3{
    padding: 70px 0 0 0;
    font-size: 1.5em;
    text-align: center;
}
.container-professora{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.conteudo-prof{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    
}
.conteudo-prof p{
    text-align: right;
}

/*Mobile*/

@media (max-width: 600px) {
    .container-professora{
        grid-template-columns: 1fr;
    }
    .foto-prof img{
        width: 100%;
    }
    .conteudo-prof p {
        text-align: center;
    }
    .professora{
        height: 100%;
    }
}