.projetos{
    height: 100vh;
    margin-bottom: 50px;
    position: relative;
}
.projetos h3{
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
}
.video-content{
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}
video{
    width: 100%;
}
